<div class="h-full fixed">
<head>
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="src/tailwing.config.js"></script>
</head>
<div class="flex h-full w-full  flex-col">
  <!-- Top nav-->
  <div class="relative flex h-16 flex-shrink-0 items-center bg-white">
    <!-- Logo area -->
    <div class="absolute inset-y-0 left-0 md:static md:flex-shrink-0">
      <a routerLink="/admin/list-membre" class="flex h-16 w-16 items-center justify-center bg-amber-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-amber-600 md:w-20">
        <img class="h-8 w-auto" src="assets/logo-white.svg" alt="hocoulou">
      </a>
    </div>

  <!--  <div class="hidden md:flex md:min-w-0 md:flex-1 md:items-center md:justify-between">
      <div class="min-w-0 flex-1">
        <div class="relative max-w-2xl text-gray-400 focus-within:text-gray-500">
          <label for="desktop-search" class="sr-only">Search</label>
          <input id="desktop-search" type="search" placeholder="Recherche" class="block w-full border-transparent pl-12 placeholder-gray-500 focus:border-transparent focus:ring-0 sm:text-sm">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center justify-center pl-4">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
      </div>
      <div class="ml-10 flex flex-shrink-0 items-center space-x-10 pr-4">
        <div class="flex items-center space-x-8">
              <span class="inline-flex md:bg-blue-90">
                <a class="-mx-1 rounded-full bg-white p-1 text-gray-400 hover:text-gray-500">
                  <strong style="color: black">{{ userName | uppercase }}</strong>
                </a>
              </span>
          <div class="relative inline-block text-left">
            <span class="flex rounded-full bg-white text-sm focus:outline-none focus:ring-2 focus:ring-amber-600 focus:ring-offset-2" id="menu-0-button" aria-expanded="false" aria-haspopup="true">
              <img class="h-8 w-8 rounded-full" src="assets/utilisateur.png" alt="">
            </span>
          </div>
        </div>
      </div>
    </div>-->
    <!-- Picker area -->
    <div class="mx-auto md:hidden">
      <div class="relative">
        <label for="inbox-select" class="sr-only">Choose inbox</label>
        <select id="inbox-select" class="rounded-md border-0 bg-none pl-3 pr-8 text-base font-medium text-gray-900 focus:ring-2 focus:ring-amber-600">

          <option class="menu-button" data-content-id="content1">Utilisateurs</option>
          <option class="menu-button" data-content-id="content2">Dépenses</option>
          <option class="menu-button" data-content-id="content3">Dettes</option>
          <option class="menu-button" data-content-id="content4" selected>Adhésion</option>
          <option>Déconnexion</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center justify-center pr-2">
          <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom section -->
  <div class="flex min-h-0 flex-1 overflow-hidden">
    <!-- Narrow sidebar-->
    <nav class="hidden md:block md:flex-shrink-0 md:overflow-y-auto md:bg-blue-900">
      <div class="relative flex w-20 flex-col space-y-3 p-3">
        <a routerLink="/admin/list-membre" class="menu-button bg-blue-700 text-white flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg" data-content-id="content1">
          <span class="sr-only">Utilisateurs</span>
          <img class="h-6 w-6" src="assets/users-light (1).svg" alt="hocoulou">
        </a>
        <a routerLink="/admin/depense" class="menu-button text-gray-400 hover:bg-blue-600 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg" data-content-id="content2">
          <span class="sr-only">Depenses</span>
          <img class="h-6 w-6" src="assets/euro-sign-light.svg" alt="hocoulou">
        </a>
        <a routerLink="/admin/dette" class="menu-button text-gray-400 hover:bg-blue-600 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg" data-content-id="content3">
          <span class="sr-only">Dettes</span>
          <img class="h-6 w-6" src="assets/sensor-triangle-exclamation-light.svg" alt="hocoulou">
        </a>
        <a routerLink="/admin/adherent" class="menu-button text-gray-400 hover:bg-blue-600 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg" data-content-id="content4">
          <span class="sr-only">Adhésion</span>
          <img class="h-6 w-6" src="assets/users-gear-light.svg" alt="hocoulou">
        </a>
        <a (click)="onSignOut()" class="text-gray-400  bottom-0 hover:bg-blue-600 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg">
          <span class="sr-only">Déconnexion</span>
          <img class="h-6 w-6" src="assets/arrow-right-from-bracket-light.svg" alt="hocoulou">
        </a>
       <!-- <a class="relative inline-block text-left" style=" float: bottom">
          <img class="h-10 w-15" src="assets/utilisateur.png">
           <strong style="color: aliceblue;">{{ userName | uppercase }}</strong>
        </a>-->
      </div>
    </nav>
    <!-- Main area -->
    <div class="min-w-0 flex-1  lg:flex">
      <router-outlet></router-outlet>
    </div>
</div>
</div>
</div>

