<!--<div>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/b435947ef0.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://use.typekit.net/xww8teo.css">
  <link rel="stylesheet" href="https://use.typekit.net/ncz6oql.css">
  <link rel="stylesheet" href="https://use.typekit.net/hhe7rob.css">
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  <script src="src/tailwing.config.js">
  </script>
</div>-->
<app-header *ngIf="!isAuth"></app-header>
<router-outlet></router-outlet>
<!--<app-zfooter *ngIf="!isAuth"></app-zfooter>-->
